service: gtmGithubHook
plugins:
  - serverless-dotenv-plugin
  - serverless-webpack

provider:
  name: aws
  runtime: nodejs6.10
  memorySize: 2048 # optional, in MB, default is 1024
  timeout: 30 # optional, in seconds, default is 6

  stage: dev
  region: ${env:GTM_AWS_REGION}

  environment:
      GTM_GITHUB_WEBHOOK_SECRET: ${env:GTM_GITHUB_WEBHOOK_SECRET}

  iamRoleStatements:
    - Effect: Allow
      Action:
        - sqs:SendMessage
      Resource:
        Fn::GetAtt: [ PendingQueue, Arn ]

    - Effect: Allow
      Action:
        - sqs:ReceiveMessage
        - sqs:DeleteMessage
      Resource:
        Fn::GetAtt: [ ResultsQueue, Arn ]

    - Effect: Allow
      Action:
        - dynamodb:UpdateItem
      Resource:
        Fn::GetAtt: [ EventsTable, Arn ]


package:
  individually: true
  exclude:
    - ".*/**"

functions:
  gtmGithubHook:
    handler: dist/src/serverless/gtmGithubHook/gtmGithubHook.listener
    environment:
      SQS_PENDING_QUEUE_URL:
        Ref: PendingQueue

    package:
      include:
        - dist/src/serverless/gtmGithubHook/**

    events:
      - http:
          path: gtm-github-hook
          method: post
          cors: true

  gtmGithubResults:
    handler: dist/src/serverless/gtmGithubResults/gtmGithubResults.handle
    environment:
      SQS_RESULTS_QUEUE_URL:
        Ref: ResultsQueue

    package:
      include:
        - dist/src/serverless/gtmGithubResults/**

    events:
      - sns: ${env:GTM_SNS_RESULTS_TOPIC}

  gtmGithubMetricCapture:
    handler: dist/src/serverless/gtmGithubMetricCapture/gtmGithubMetricCapture.handler
    environment:
      DYNAMO_DB_TABLE_EVENTS:
        Ref: EventsTable

    package:
      include:
        - dist/src/serverless/gtmGithubMetricCapture/**

    events:
      - cloudwatchLog:
          logGroup: 'gtmAgent'
          filter: '{$.resultType != ""}'

resources:
  Resources:
    PendingQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: ${env:GTM_SQS_PENDING_QUEUE}
        MessageRetentionPeriod: 1209600
        VisibilityTimeout: 7200

    ResultsQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: ${env:GTM_SQS_RESULTS_QUEUE}
        MessageRetentionPeriod: 1209600
        VisibilityTimeout: 7200

    EventsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: GtmEvents
        AttributeDefinitions:
          - AttributeName: ghEventId
            AttributeType: S
        KeySchema:
          - AttributeName: ghEventId
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 5
          WriteCapacityUnits: 5
        StreamSpecification:
          StreamViewType: NEW_IMAGE

#    DynamoVpcEndpoint:
#      Type: AWS::EC2::VPCEndpoint
#      Properties:
#        ServiceName: com.amazonaws.${env:GTM_AWS_REGION}.dynamodb
#        VpcId: ${env:GTM_AWS_VPC_ID}

custom:
  dotenv:
    path: .env