{% extends "base.html" %} {% block maincontent %}
<h3>GitHub Task Manager Agent</h3>
<div class="systemstate">
    <div>Agent ID: {{ globalProperties.agentId }}</div>
    <div>Agent Group: {{ globalProperties.agentGroup }}</div>
    <div>Pending Queue: {{ globalProperties.pendingQueue.url }}</div>
    <div>Pending Queue State: <span class="{{ 'state_green' if globalProperties.pendingQueue.enabled else 'state_red' }}">{{ globalProperties.pendingQueue.state }}</span></div>
</div>

<div class="tabcontrols">
    <ul class="tab-nav">
        <li>
            <a class="button" href="#gtmGithubHook">Github Hook</a>
        </li>
        <li>
            <a class="button active" href="#gtmAgent">Agents</a>
        </li>
        <li>
            <a class="button" href="#gtmGithubResults">Github Results</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane" id="gtmGithubHook">
            <button id="logstream_gtmGithubHook" onClick="swapLogstream('gtmGithubHook')">start logstream</button>
            <button id="follow_gtmGithubHook" onClick="swapFollow('gtmGithubHook')">stop following</button>
            <div id="stream_gtmGithubHook" class="stream"></div>
        </div>
        <div class="tab-pane active" id="gtmAgent">
            <button id="logstream_gtmAgent" onClick="swapLogstream('gtmAgent')">start logstream</button>
            <button id="follow_gtmAgent" onClick="swapFollow('gtmAgent')">stop following</button>
            <select id="agentFilter" onChange="setAgentFilter(this)">
                <option value="ALL">All in group</option>
            </select>
            <div id="stream_gtmAgent" class="stream"></div>
        </div>
        <div class="tab-pane" id="gtmGithubResults">
            <button id="logstream_gtmGithubResults" onClick="swapLogstream('gtmGithubResults')">start logstream</button>
            <button id="follow_gtmGithubResults" onClick="swapFollow('gtmGithubResults')">stop following</button>
            <div id="stream_gtmGithubResults" class="stream"></div>
        </div>
    </div>
</div>


<script>
    var follow = [];
    var logstream = [];

    function swapFollow(group) {
        var streamElem = document.getElementById('stream_' + group);
        follow[group] = !follow[group];
        if (follow[group]) {
            streamElem.scrollTop = streamElem.scrollHeight;
        }
        document.getElementById(`follow_${group}`).textContent
            = (follow[group] ? 'stop following' : 'resume following');
    }

    function swapLogstream(group) {
        logstream[group] = !logstream[group];
        if (!logstream[group]) {
            fetch('/stream/stop/' + group);
        } else {
            fetch('/stream/start/' + group).then(() => {
                stream(group);
            });
        }
        document.getElementById(`logstream_${group}`).textContent
            = (logstream[group] ? 'stop logstream' : 'start logstream');
    }

    function setAgentFilter(sel) {
        fetch(`/stream/filter/gtmAgent/${sel.options[sel.selectedIndex].value}`);
        document.getElementById('stream_gtmAgent').innerHTML = '';
    }

    function stream(group) {
        follow[group] = true;

        var streamElem = document.getElementById(`stream_${group}`);

        var es = new EventSource(`/stream/${group}`);

        es.onmessage = function (event) {
            console.log(event);

            var entry = document.createElement('div');
            entry.setAttribute('class', 'item');

            var data = JSON.parse(event.data);
            var message;
            var name = '';
            var logEntry = data.message;
            if (group === 'gtmAgent') {
                message = JSON.parse(data.message);
                name = message.name;
                logEntry = message.msg;
            }

            entry.innerHTML = `<b>${(new Date(data.timestamp).toISOString())} ${name}</b>
                 : <span>${logEntry}</span>`;

            streamElem.appendChild(entry);

            if (follow[group]) {
                streamElem.scrollTop = streamElem.scrollHeight;
            }

            // add new agents as they are found
            if (group === 'gtmAgent' && !document.getElementById(`ls-${data.logStreamName}`)) {
                var opt = document.createElement("option");
                opt.setAttribute('id', `ls-${data.logStreamName}`);
                opt.value = data.logStreamName;
                opt.textContent = data.logStreamName;
                document.getElementById('agentFilter').appendChild(opt);
            }

        };

        es.onerror = function (e) {
            console.log(e);
        };
    }

    fetch('/stream/stop').then(() => {
        window.setInterval(() => fetch('/stream/keepalive'), 30000);
    })

</script> {% endblock %}